{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-content" data-aos="fade-up">
        <div class="profile-wrapper">
        <div class="pulse-ring"></div>
        <div class="pulse-ring static-ring"></div>
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile" class="profile-pic">
    </div>
        <h1 id="typewriter-text" class="typewriter"></h1>
        <h2>From ETL Pipelines to ML Models - Delivering Impactful Solutions.</h2>
<p>
    Driven <strong>Machine Learning Engineer</strong> and <strong>Data Scientist</strong> with 2.5+ years of hands-on experience at Infosys, focusing on <strong>Big Data Engineering</strong> and <strong>ETL processes</strong>.
    Proficient in building and deploying <span class="highlight">deep learning models</span> with <span class="highlight">Python</span>, <span class="highlight">TensorFlow</span>, <span class="highlight">Keras</span>, and <span class="highlight">Streamlit</span>, turning raw data into valuable insights.
    Expertise in data manipulation using <span class="highlight">Pandas</span>, <span class="highlight">NumPy</span>, <span class="highlight">SQL</span>, and <span class="highlight">NoSQL</span> databases to solve complex, real-world problems.
    Passionate about developing innovative, data-driven solutions that make a measurable impact and are scalable for the future.
</p>
        <div class="social-links">
            <a href="https://github.com/mithilesh1627" target="_blank"><i class="fab fa-github"></i> GitHub</a>
            <a href="https://linkedin.com/in/mithilesh1627" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </div>
        <br>
        <div class="download-cv">
            <a href="{{ url_for('static', filename='CV_Mithilesh.pdf') }}" download>
                <button class="btn-download-cv">Download CV</button>
            </a>
        </div>

    </div>
</section>
{% endblock %}
